/* reset */
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* debug 

.debug{
    *
    {
        border: 1px dashed black;
    }
}

*/

#ds_head{
    background-color: #3161E0;
    min-height: 70px;
    padding: 1rem;
}

.container-flex{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}

a{
    text-decoration: none;
    color: white;
}

.logbutton{
    padding: 7px;
    color: black;
    background: white;
    border-radius: 15px;
}

.jumbo{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    text-align: center;
    padding: 10px;
    min-height: 200px;
    color: white;
}

h1{
    padding: 1rem;
}

.jumbobottom{
    padding: 1rem;
}
.macdload{
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 15px;
}

.openbrowser{
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 15px;
}

.talkspace{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}


.easymeet{
    /*background-image: url(../img/wave.svg);*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.fandom{
    background: white;
    display: flex;
    justify-content: center;
    padding: 12px;
}

.reltech{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.download{
    background: #3161E0;
    color: white;
    padding: 7px;
    border-radius: 15px;
}


.links{
    background: #23272a;
    display: flex;
    justify-content: center;
    padding-top: 0px;
}

.bigcolumn{
    color: white;
    height: 100px;
    width: 35%;
}

.coltitle{
    color: #3161E0;
}

.smallcolumn{
    background: #20B2AA;
    height: 100px;
    width: 10%;
    display: flex;
    flex-direction: column;
}

.bottompage{
    background: #23272a;
    padding: 1rem;
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
}

.bpbutton{
    background: aquamarine;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
    width: 75%;
}

span{
    background: pink;
}